@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pridi:wght@200;300;400;500;600;700&display=swap');

/* styles.css */
body {
    font-family: "Pridi", serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* หน้าจอโหลด */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #ff0000;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ส่วนหัว */


header {
    background-color: #ffff;
    color: white;
    text-align: center;
    padding: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

header ul {
    display: flex;
}


header ul li {
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

ul li a:hover {
    color: #000;
}
/* ข้อความเลื่อน */

.marquee {
    background-color: #eb0000;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;
    position: relative;
    margin: 20px -35% -50px -35%;
}

.marquee-content {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.marquee p {
    display: inline-block;
    position: relative;
}

.marquee p::after {
    display: inline-block;
    content: "";
    width: 1.8rem;
    height: 2rem;
    background: url('https://www.peoplepowerparty.kr/assets/home/img/partycon2024/tag_bar.png') no-repeat center;
    background-size: contain;
    margin-right: 2rem;
}

section.pc-container.candidates {
    padding: 50px 20%;
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/schedul-bg.png) repeat-x center top;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* ส่วนท้าย */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.header.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


/* Candidate List Style */

.msec1 .candi-list {
    display: flex;
}
ul, ol {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}


.msec1 .candi-list li:nth-child(1) {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/main-1-bg.png) no-repeat center;
    background-size: cover;
}

.msec1 .candi-list li:nth-child(2) {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/main-2-bg.png) no-repeat center;
    background-size: cover;
}

.msec1 .candi-list li:nth-child(3) {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/main-3-bg.png) no-repeat center;
    background-size: cover;
}

@media (max-width: 1200px) {
    .msec1 .candi-list li {
        width: 50%;
    }
}

.msec1 .candi-list li {
    width: 33.33%;
    position: relative;
}

.msec1 .candi-list li .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10% 6%;
    z-index: 2;
}

.msec1 .candi-list li .top span {
    font-size: 1rem;
    color: #000;
    font-weight: 800;
}

.msec1 .candi-list li .top div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msec1 .candi-list li .top div h4 {
    font-size: 2.4rem;
    color: #000;
    font-weight: 900;
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
}

.msec1 .candi-list li .top div em {
    font-size: 1rem;
    color: #000;
    font-weight: 400;
}

.msec1 .candi-list li img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}


.msec1 .candi-list li a {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10% 6%;
    z-index: 3;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(184, 37, 50, 0) 50%, rgba(46, 41, 79, 1) 100%, rgba(46, 41, 79, 1) 100%);
}

.msec1 .candi-list li a::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.4rem solid #b82532;
    z-index: 2;
}

.msec1 .candi-list li:hover a {
    display: flex;
}
.msec1 .candi-list li a {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10% 6%;
    z-index: 3;
    /* background: rgb(255, 255, 255); */
    background: linear-gradient(180deg, rgba(184, 37, 50, 0) 50%, rgba(46, 41, 79, 1) 100%, rgba(46, 41, 79, 1) 100%);
}

a {
    background-color: transparent;
}
a {
    text-decoration: none;
    color: #000;
}

.msec1 .candi-list li a h5 {
    margin-top: auto;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 800;
}

.msec1 .candi-list li a .sns {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.msec1 .candi-list li a .sns button.yu {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/sns-yu.png) no-repeat center;
    background-size: contain;
}

.msec1 .candi-list li a .sns button.fa {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/sns-fa.png) no-repeat center;
    background-size: contain;
}

.msec1 .candi-list li a .sns button.bl {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/sns-bl.png) no-repeat center;
    background-size: contain;
}

.msec1 .candi-list li a .sns button.in {
    background: url(https://www.peoplepowerparty.kr/assets/home/img/partycon2024/sns-in.png) no-repeat center;
    background-size: contain;
}


.msec1 .candi-list li a .sns button {
    position: relative;
    font-size: 0;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100vh;
    z-index: 4;
}

<style>
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
