/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* หน้าจอโหลด */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #ff0000;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ส่วนหัว */


header {
    background-color: #ffff;
    color: white;
    text-align: center;
    padding: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

header ul {
    display: flex;
}


header ul li {
    margin-left: 20px;
}

/* ข้อความเลื่อน */
.marquee {
    background-color: #eb0000;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.marquee p {
    display: inline-block;
    position: relative;
}

.marquee p::after {
    display: inline-block;
    content: "";
    width: 1.8rem;
    height: 2rem;
    background: url('https://www.peoplepowerparty.kr/assets/home/img/partycon2024/tag_bar.png') no-repeat center;
    background-size: contain;
    margin-right: 2rem;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* ส่วนท้าย */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.header.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


/* Candidate List Style */
.candidates {
    padding: 2rem;
    background-color: #f9f9f9;
}

.candi-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.candi-list li {
    width: 23%;
    background-color: #fff;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.candi-list li:hover {
    transform: translateY(-10px);
}

.candi-list .top {
    background-color: #eb0000;
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candi-list .top span {
    font-size: 1rem;
}

.candi-list .top h4 {
    margin: 0;
}

.candi-list img {
    width: 100%;
    height: auto;
    display: block;
}

.candi-list a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    display: block;
    text-align: center;
}

.candi-list h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sns {
    display: flex;
    justify-content: center;
}

.sns button {
    background-color: #eb0000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sns button:hover {
    background-color: #c40000;
}
